<div class="container">
  <h1 class="mb-3">My Orders</h1>
  <% if @orders.empty?%>
    <h1>You have no past orders!</h1>
  <% else %>
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-6 col-md-4">
          <div class="card m-2">
            <div class="card-body">
              <h5> <% order.products.each do |product| %>
                |<%= product.name %>|
                <% end %>
              </h5>
              <% @total = 0 %>
                <% order.line_items.each do |item| %>
                  <% @total += item.product.price_cents * item.quantity %>
                <% end %>
                <p class="card-price">Order №<%= order.id %></p>
                <p class="card-price">Price: <%= @total %>₽</p>
                <% if order.status == "completed" %>
                  <p class="card-price text-success">Status: <%= order.status %></p>
                <% elsif order.status == "cancelled" %>
                  <p class="card-price text-danger">Status: <%= order.status %></p>
                <% else %>
                  <p class="card-price text-warning">Status: <%= order.status %></p>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
