<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <% if @order.status == "completed" %>
          <div class="card-body">
            <h5 class="card-title">Заказ №<%= @order.id %> успешно оплачен</h5>
            <p class="card-text">Спасибо за покупку!</p>
            <%= link_to "Home page", root_path, class: "btn btn-outline-dark" %>
            <%= link_to "My orders", "/users/#{current_user.id}/orders", class: "btn btn-outline-dark" %>
          </div>
        <% elsif @order.status == "cancelled" %>
          <div class="card-body">
            <h5 class="card-title">Заказ №<%= @order.id %> отменен</h5>
            <p class="card-text"></p>
            <%= link_to "Home page", root_path, class: "btn btn-outline-dark" %>
            <%= link_to "My orders", "/users/#{current_user.id}/orders", class: "btn btn-outline-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>